<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="keywords" content="@keywords" />
	<title>@title</title>
	<link id="style" rel="stylesheet" type="text/css" href="udn3.css" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body id="webbgTwo">
	<div id="head">
		<div>
			<a href="http://www.unrealtechnology.com/"><img class="logo" src="Two_logo.gif" alt="Unreal!" /></a>
		</div>
		<div id="nav">
			<div id="title">
				<img src="Two_sweeney.gif" alt="Tim Sweeney Archive" />
			</div>
			<a href="./">Home</a> |
			<a href="news.html">News</a> |
			<a href="lambda.html">Lambda-The-Ultimate</a> |
			<a href="interviews.html">Interviews</a> |
			<a href="posting.html">Postings</a> |
			<a href="pdfs.html">.pdf Archive</a>
		</div>
	</div> 

	<div id="pagedefault">
		<div id="maincol">
