<h1>Tim Sweeney Lambda-The-Ultimate Archive</h1>
<p></p>
<h2>Overview</h2><p>
	A collection of Tim Sweeney's postings to <a href="http://lambda-the-ultimate.org/">Lambda the Ultimate</a>, a programming weblog which <span class="italic">"deals with issues directly related to programming languages, and programming language research."</span>.
</p>
<p>Some posts may not be formatted properly or may contain incomplete code fragments. This seems to be a defect of the <a href="http://lambda-the-ultimate.org/">Lambda the Ultimate</a> posting system, which has partially eaten a handful of posts and on the whole produced html and xhtml that is not what one would call "well formed." Adjustments and corrections have been made where possible.</p>
