<h1>Tim Sweeney .pdf Archive</h1>
<p></p>
<h2>Info</h2>

<p>You can now download the various sections of the archive as .pdfs! Thanks to <a href="http://www.latex-project.org/">LaTeX</a> and <a href="http://www.miktex.org/">MiKTeX</a> in particular, the .pdfs nearly resemble proper books; every effort was made to ensure that everything converted to the .tex format properly and that the layout and functionality offered more than just a carbon copy of the HTML.</p>

<h2>Download</h2>
<ul>
	<li><a href="pdf/tims-news.pdf">News Archive</a></li>
	<li><a href="pdf/tims-lambda.pdf">Lambda-the-Ultimate Archive</a></li>
	<li><a href="pdf/tims-interviews.pdf">Interview Archive</a></li>
	<li><a href="pdf/tims-posting.pdf">Postings Archive</a></li>
</ul>