<h1>Tim Sweeney Archive</h1>
<p>
	Hmmm.
</p>


<h2>Info</h2>
<p>
	Main site should be found at <a href="http://www.team5150.com/~andrew/sweeney">http://team5150.com/~andrew/sweeney</a>.
	The format for the site is borrowed from one of the varied themes of the <a href="http://udn.epicgames.com/">Unreal Developer Network</a>.
</p>

<p>Links to the Ontic's Spec have all been replaced with the accurate address (<a href="http://ttic.uchicago.edu/~dmcallester/ontic-spec.ps">http://ttic.uchicago.edu/~dmcallester/ontic-spec.ps</a>). </p>

<h2>Download</h2>
	<p>
	If you would like a local copy of the archive (as it contains quite a bit of reading), you may download
	<a href="files/tims_archive.zip">tims_archive.zip (~280kb)</a>.
	</p>
	
	<p>
	For lack of a better section to place this, here is Tim's presentation from 
	the Symposium on Principles of Programming Languages: <a href="http://www.cs.princeton.edu/~dpw/popl/06/Tim-POPL.ppt">The Next Mainstream Programming Language: A Game Developer's Perspective</a>. 
	If you don't have PowerPoint, Microsoft's <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=428d5727-43ab-4f24-90b7-a94784af71a4&DisplayLang=en">PowerPoint Viewer 2003</a> will suffice.
	</p>